.sectionPortfolioTechSkills {
  margin: 15rem auto 0 auto;
  max-width: 90%;
}

.divPortfolioTechSkills {
  display: flex;
  max-width: 90%;
  margin: auto;
  /* grid-template-columns: 1fr 1fr ; */
  justify-content: center;
  column-gap: 5em;
  row-gap: 3em;
  flex-wrap: wrap;
}

.skillsContainer {
  width: 4rem;
  margin: auto;
  height: 4rem;
  position: relative;
  opacity: 1;
  border-radius: 30px;
  /* transform: translateY(100px); */
  transition: all 1.5s ease-in-out;
  /* clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%); */
}

.techSkillsImage {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  opacity: 1;
  border-radius: 30px;
  box-shadow: 0 0 20px 1px #cfb095;
}

.divTechSkillsText {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  border-radius: 30px;
}

.skillsContainer:hover {
  scale: 1.4;
  transition: all 1.5s ease-in-out;
}

.divTechSkillsText:hover {
  opacity: 1;
}

.divTechSkillsText > * {
  transform: translateY(50px);
  transition: transform 2s;
}

.divTechSkillsText:hover > * {
  transform: translateY(0px);
}

.techSkillsText {
  font-size: 1em;
  color: #fff;
  text-align: center;
  font-weight: 500;
  width: 100%;
  letter-spacing: 1.5px;
  font-family: "Dancing Script", cursive;
}

@media screen and (max-width: 800px) {
  .sectionPortfolioTechSkills {
    margin: 10rem auto 0 auto;
  }


  .divPortfolioTechSkills {
    max-width: 90%;
    column-gap: 1rem;
    row-gap: 1rem;
    
  }

  .skillsContainer {
    width: 3rem;
    height: 3rem;
  }

  .divTechSkillsText {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .skillsContainer {
    width: 2rem;
    height: 2rem;
  }
}

/* @media screen and (min-width: 1600px) {
  .skillsContainer {
    height: 350px;
  }
} */
